@font-face {
    font-family: 'Bebas';
    src: url('../fonts/BebasNeuePro-Middle.woff2') format('woff2'),
    url('../fonts/BebasNeuePro-Middle.woff') format('woff');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
    }

@font-face {
    font-family: 'Bebas';
    src: url('../fonts/BebasNeuePro-Regular.woff2') format('woff2'),
    url('../fonts/BebasNeuePro-Regular.woff') format('woff');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
    }

@font-face {
    font-family: 'Bebas';
    src: url('../fonts/BebasNeuePro-Bold.woff2') format('woff2'),
    url('../fonts/BebasNeuePro-Bold.woff') format('woff');
    font-weight: 900;
    font-display: swap;
    font-style: normal;
    }